@{
    ViewData["Title"] = "Home Page";
}

@model Tuple<IEnumerable<Event>, IEnumerable<Speaker>>




<style>
    body {
        background-color: #f8f9fa;
    }

    .banner {
        background-image: url('@Model.Item1.FirstOrDefault()?.EBanner');
        background-size: cover;
        color: white;
        text-align: center;
        padding: 150px 0;
        margin-bottom: 0;
    }

    .speakers-section {
        padding: 90px 0;
        text-align: center;
    }

    .speaker-card {
        margin-bottom: 30px;
    }

    .speaker-image {
        border-radius: 50%;
        max-width: 150px;
        margin-bottom: 15px;
        border-radius: 20px;
    }
</style>


<div class="banner">
    <h1 class="display-4 text-dark">@Model.Item1.FirstOrDefault()?.Ename</h1>
    <p class="lead text-dark">@Model.Item1.FirstOrDefault()?.Ediscription</p>
    <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register Now</a>
</div>

<div class="container speakers-section">
    <h2>Featured Speakers</h2>

    <div class="row">
        @foreach (var speak in Model.Item2)
           {
        <div class="col-md-4">
            <div class="card speaker-card text-center">
                    <img src="@speak.Simage" alt="@speak.Sname" class="speaker-image rounded mx-auto d-block">
                <div class="card-body">
                        <h5 class="card-title">@speak.Sname</h5>
                        <p class="card-text">@speak.SBio</p>
                </div>
            </div>
        </div>

           }


 


    </div>
</div>
        </div>
    </div>